*~
.org-id-locations
abbrev_defs
elpa/
places
projectile-bookmarks.eld
.yas-compiled-snippets.el
emacs.el
ein-lisp/
.#*
.cask
/bookmarks
/emacs.html
/eshell/
/var/
/.mc-lists.el
/locations.el
/elpaca/
/recentf
/tramp
/transient/
/org-persist/
